@@ -9,3 +9,23 @@
  margin: 20px;
  justify-content: center;
}

.underline-fx {
    display: inline-flex;
    text-align: center;
    
    margin-top: 1vh;
    
    --s: 0.1em;   /* the thickness of the line */
    --c: #3452eb; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#eb4034 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
.underline-fx:hover {--_p: 100%}
